/* css only for hover effect all hover effect must write in this Media query */
 @media only screen and (min-width: 1200px) {
     .casesList .casesBox:first-child{
         padding-top: 144px;
    }
     .casesList .casesBox:last-child{
         padding-bottom: 144px;
    }
}
 @media only screen and (min-width: 1368px) and (max-width: 1600px) {
     .bannerSec .bannerImg img{
        max-width: 920px;
    }
}
 @media only screen and (min-width: 1200px) and (max-width: 1368px) {
     .bannerSec .bannerImg img{
        max-width: 800px;
    }
}
/* common css for below screen 1199 */
 @media only screen and (max-width: 1199px) {
    .menuMain{text-align: right;}
     .bannerSec{
        padding-bottom: 40px
    }
     .bannerSec .bannerCon .bannerTitle{
        font-size: 48px;
    }
     .bannerSec .bannerImg{
        margin: 0 0 0 -245px;
    }
     .bannerSec .bannerImg img{
        max-width: 800px;
    }
     .bannerSec .bannerCon{
        margin-right: -40px;
    }
     .commonSec{
        padding: 60px 0;
    }
     div.casesList .casesBox{
        padding: 80px 0
    }
     .casesList .casesBox .casesBoxCon .casesTitle{
        font-size: 38px;
         padding-bottom: 20px;
    }
     .casesList .casesBox:nth-child(odd) .casesBoxImg, .casesList .casesBox:nth-child(even) .casesBoxImg{
        margin-left: 0;
         margin-right: 0;
    }
     .casesList .casesBox .casesBoxCon ul li{
        font-size: 16px;
    }
     .footerMain{
        padding: 160px 0 60px
    }
     .footerMain:before{
        right: -340px;
    }
     .footerMain .footLogo img{
        max-width: 240px;
    }
     .footBox{
        margin-top: 30px;
    }

    .contactBoxInn{padding: 30px; min-height: 266px;}
    .contactAboutInn .contactBox .conImg{margin-bottom: 15px}
    .contactAboutInn .contactBox .conTitle{margin-bottom: 10px;}
    .contactForm{padding: 0;}
    .aboutCon .aboutTitle, .workSec .workTitle, .contactForm .contactTitle{font-size: 36px}
    .innerBanner{padding: 60px 0}
    .aboutImg{margin-bottom: 30px;}
    .aboutImg img{width: 100%;}
    .aboutCon{padding: 0}
    .aboutCon p{font-size: 14px;margin-bottom: 10px;}
    .aboutCon ul li{font-size: 14px;}
}
/* common css for below screen 991 */
 @media only screen and (max-width: 991px) {
     body{
        margin-top: 80px;
    }
     .headerMain{
        position: fixed;
         text-align: center;
         padding: 15px 0;
         background: #fff;
         box-shadow: 0 0 6px rgba(0, 0, 0, 0.21);
         z-index: 999;
    }
     .headerMain .logo{
         max-width: 200px;
        /*margin: auto;
        */
    }
     .bannerSec .bannerCon{
        margin-right: 0;
         padding-top: 40px;
         text-align: center;
    }
     .bannerSec .bannerCon .bannerTitle {
        font-size: 40px;
    }
     .commonSec {
         padding: 40px 0;
    }
     .commonSec .secHead .secTitle{
        font-size: 38px;
    }
     .casesList .casesBox .casesBoxImg{
        margin-bottom: 30px;
    }
     .casesList .casesBox .casesBoxImg img{
        max-width: 400px;
         margin: auto;
    }
     .casesList .casesBox:nth-child(odd) .casesBoxCon{
        padding-left: 0;
    }
     .casesList .casesBox:nth-child(even) .casesBoxCon{
        padding-right: 0;
    }
     .casesList .casesBox .casesBoxCon .casesTitle {
         font-size: 36px;
    }
     .footerMain {
         padding: 120px 0 40px;
    }
     .footerMain .footLogo{
        margin-bottom: 30px;
    }
     .footerMain p{
        margin-bottom: 30px;
    }
     .menuMain{
        padding-left: 0;
         margin-top: 25px;
    }
     .menuIcon {
         display: inline-block;
         float: right;
         margin-top: 10px;
    }
     .menuMain {
         position: fixed;
         top: 80px;
         bottom: 0;
         left: 0;
         right: 0;
         width: 100%;
         background: #fff;
         text-align: left;
         -webkit-transform: translate(0, -100%);
         -ms-transform: translate(0, -100%);
         transform: translate(0, -100%);
         -moz-transition: all .4s ease-in-out;
         -webkit-transition: all .4s ease-in-out;
         -ms-transition: all .4s ease-in-out;
         transition: all .4s ease-in-out;
         overflow: auto;
         padding-bottom: 0;
         margin-top: 0;
         z-index: 99;
         height: 0;
         z-index: -1;
    }
     .menuMain.menu-drawer {
         height: auto;
         -webkit-transform: translate(0);
         -ms-transform: translate(0);
         transform: translate(0) 
    }
     .menuMain ul {
         padding-right: 20px;
         padding-left: 20px;
         padding-top: 0;
         width: 100%;
         text-align: left 
    }
     .menuMain ul li{
         float: left;
         display: block;
         width: 100%;
         border-bottom: 1px solid rgba(234, 242, 249, 1);
         padding: 0 
    }
     .menuMain li:last-child {
         border-bottom: none 
    }
     .menuMain li.navBtn {
         padding-top: 20px 
    }
     .menuMain li a {
         display: block;
         width: 100%;
         padding: 12px 0;
         font-size: 16px;
         line-height: 24px;
         font-weight: 700;
         color: #39343a !important;
         padding: 0;
         font-size: 14px;
    }
    .contactForm .smallTitle{font-size: 14px}
    .aboutCon .aboutTitle, .workSec .workTitle, .contactForm .contactTitle { font-size: 26px; margin-bottom: 20px;}
    .contactBoxInn {padding: 15px; min-height: 210px;}
    .contactAboutInn .contactBox .conImg img{width: 50px; }
    .contactAboutInn .contactBox p{font-size: 14px; line-height: 1.6}
    .socialmedia li{padding: 0 5px;}
    .socialmedia li a{font-size: 22px;}
    .footBox{min-width: 200px}
    .footerMain .footLogo img {max-width: 200px;}
    .contactForm .form-group{padding: 10px 0}
    .contactForm .form-control{padding: 10px 15px;font-size: 14px;} 
    .contactForm textarea.form-control{height: 120px;}

    .workBox{padding: 0 5px;}
    .workBoxInner{padding: 20px; min-height: 280px;}
    .wrokImg img{max-width: 62px;}
    .workSubTitle{font-size: 17px; margin: 15px 0 10px 0;}
    .workBox p{font-size: 14px;}
}
/* common css for below screen 767 */
 @media only screen and (max-width: 767px) {
     body{
        margin-top: 84px;
    }
     .menuMain{
        top: 84px;
    }
     .btn{
        min-width: 160px;
         font-size: 13px;
         padding: 12px 15px
    }
     .bannerSec {
         padding-bottom: 20px;
    }
     .bannerSec .bannerCon .bannerTitle{
        font-size: 32px;
    }
     .bannerSec .bannerCon p{
        font-size: 15px;
         line-height: 1.8
    }
     .commonSec .secHead .secTitle{
        font-size: 30px;
    }
     .commonSec {
        padding: 30px 0;
    }
     div.casesList .casesBox{
        padding: 50px 0
    }
     .casesList .casesBox .casesBoxCon .casesTitle {
         font-size: 30px;
    }
     .casesList .casesBox .casesBoxImg img {
         max-width: 300px;
    }
     .footerMain {
        padding: 80px 0 20px;
    }
    .footerMain .footLogo{
        margin-bottom: 10px;
    }
     .footerMain .footLogo img{
        max-width: 180px;
        margin: auto; 
    }
     .footerMain p{
        font-size: 16px;
        margin-bottom: 15px;
    }
     .footTitle{
        margin-bottom: 20px;
    }
     .footBox{
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }
     .footNav li{
        font-size: 16px;
    }
    .copyright{
        margin-top: 20px;
        font-size: 14px;
    }

    .innerHed{
        font-size: 26px;
        margin-bottom: 10px;
    }
    .breadcrumbList{
        margin: 0;  
    }
    .breadcrumbList li{
        font-size: 12px;
    }
    .breadcrumbList li ~ li:before{
        width: 8px;
        height: 8px;
        top: 4PX;
    }

    .innerBanner{
        padding: 30px 0;
    }
    .contactAboutInn .contactBox{
        width: 100%; 
        padding: 15px 0;
    }
    .contactBoxInn, .contactCon{
        min-height: 0;
    }
    .aboutCon .smallTitle, .workSec .smallTitle{
        font-size: 14px;
    }
    .aboutCon .aboutTitle, .workSec .workTitle, .contactForm .contactTitle{
        font-size: 22px;
        margin-bottom: 15px;
    }
        .aboutCon .aboutTitle br, .workSec .workTitle br, .contactForm .contactTitle br{display: none;}
    .contactForm textarea.form-control {
        height: 100px;
    } 
}
 @media only screen and (max-width: 568px) {
    .workBox{
        width: 100%;
        padding: 10px 0;
    }
    .workBoxInner{
        min-height: 0;
    }
     .headerMain .logo {
        max-width: 220px;
    }
     .bannerSec .bannerCon .bannerTitle {
         font-size: 28px;
    }
     .commonSec .secHead .secTitle {
         font-size: 26px;
    }
     .casesList .casesBox .casesBoxCon .casesTitle {
         font-size: 26px;
    }
     .footerMain p {
         font-size: 14px;
    }
     .casesList .casesBox .casesBoxCon ul li {
         font-size: 14px;
         margin-bottom: 10px;
    }
     .footLeft{
        width: 100%;
         text-align: center;
    }
     .footerMain .footLogo img{
        margin:auto;
    }
     .footRight{
        display: none;
    }
     .copyright{
        text-align: center;
    }
}
/* common css for below screen 479 */
 @media only screen and (max-width: 479px) {
}
 @media only screen and (max-width: 360px) {
}
 @media only screen and (max-width: 350px) {
     .bannerSec .bannerCon .bannerTitle {
        font-size: 26px;
    }
     .commonSec .secHead .secTitle {
         font-size: 24px;
    }
     .casesList .casesBox .casesBoxCon .casesTitle {
         font-size: 24px;
    }
}
/* common css for screen size between 568 to 767 */
 @media only screen and (min-width: 568px) and (max-width: 767px) {
}
/* common css for screen size between 600 to 767 */
 @media only screen and (min-width: 576px) and (max-width: 767px) {
}
/* common css for screen size between 768 to 1199 */
 @media only screen and (min-width: 768px) and (max-width: 1199px) {
}
/* common css for screen size between 768 to 1023 */
 @media only screen and (min-width: 768px) and (max-width: 991px) {
}
/* common css for screen size between 1024 to 1199 */
 @media only screen and (min-width: 992px) and (max-width: 1199px) {
}
 