* {
	padding: 0;
	margin: 0;
	border: none;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
	display: block
}
body {
	line-height: 1
}
ol,ul {
	list-style: none
}
blockquote,q {
	quotes: none
}
blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
strong,b {
	font-weight: bold
}
em,i {
	font-style: italic
}
u {
	text-decoration: underline
}
a {
	text-decoration: none
}
*:focus {
	outline: none
}
a:hover,a:focus {
	text-decoration: none;
	outline: none !important
}
button[type="button"]:focus {
	outline: none
}
svg:not(:root).svgIcon {
	overflow: visible
}
.svgIcon {
	display: inline-block;
	font-size: inherit;
	width: 1em;
	height: 1em;
	overflow: visible;
	vertical-align: middle
}
.svg-icons {
	display: inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -.125em
}

.container {
	width: 100%;
	max-width: 1200px
}
.row {
	margin-left: -8px;
	margin-right: -8px
}
div[class^='col'] {
	padding-right: 8px;
	padding-left: 8px
}
.imgMain {
	position: relative
}
.absoImg {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto
}
.padding-0 {
	padding: 0 !important
}
.wrapper {
	display: block;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	position: relative
}
img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto
}
html {
	font-size: 16px
}
body {
	display: block;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	line-height: 1.4;
	color: #000;
	background-color: #fff
}
p {
	line-height: 1.6;
	font-size: 1rem;
	color: #666;
	font-weight: 400;
	margin-bottom: 1rem
}
p:last-child {
	margin-bottom: 0
}
a {
	color: #ed2024
}
a:hover {
	color: #282562
}
.d-none {
	display: none
}
.d-display {
	display: block
}
.bodyFixed {
	overflow: hidden
}
.trans {
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out
}

.btn{
	display: inline-block;
	vertical-align: top;
	width: auto;
	min-width: 210px;
	font-size: 14px;
	line-height: 1.45;
	font-weight: 500;
	color: #fff;
	background-color: #179aff;
	border-radius: 60px;
	padding: 14px 15px; 
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}
.btn-shade{
	box-shadow: 5px 13px 10px 0px rgba(137, 164, 241, 0.45);
}

.btn:hover{
	background-color: #13c1ff;
	color: #fff;
	transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08); 
}

/* Header Style */
.headerMain{
	display: block; 
	width: 100%;
	padding: 50px 0;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	z-index: 12
}

/* Banner Style */
.bannerSec{
	display: block;
	width: 100%;
	padding-bottom: 60px;
}

.bannerSec .bannerCon{
	display: block;
	/*width: 100%;*/
	position: relative;
	z-index: 12;
	padding-top: 100px; 
}

.bannerSec .bannerCon .bannerTitle{
	display: block;
	width: 100%;
	font-size: 60px;
	font-weight: 700;
	color: #263147;
	line-height: 1.4;
	margin-bottom: 15px;
}

.bannerSec .bannerCon p{
	display: block;
	width: 100%;
	font-size: 17px;
	line-height: 2;
	font-weight: 400;
	color: #707275;
	margin-bottom: 40px;
}

.bannerSec .bannerImg{
	display: block;
	margin:0 0 0 -125px; 
}
.bannerSec .bannerImg img{
	max-width: inherit;
	max-height: inherit;
}

/* Common Section */
.commonSec{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	padding: 90px 0;
}
.commonSec .secHead{
	display: block;
	width: 100%;	
}
.commonSec .secHead .secTitle{
	display: block;
	width: 100%;
	font-size: 48px;
	font-weight: 600;
	line-height: 1.4;
	color: #263147;
}

.casesList{
	display: block;
	width: 100%;
}

.casesList .casesBox{
	display: block;
	width: 100%;
	padding: 236px 0;
	border-bottom: 1px solid #d6dce0;
}
.casesList .casesBox:last-child{
	border-bottom: none;
}

.casesList .casesBox:nth-child(odd) .casesBoxImg{
	display: block;
	margin-left: -104px;
	margin-right: -22px;
	text-align: center;
}
.casesList .casesBox:nth-child(even) .casesBoxImg{
	display: block;
	margin-right: -124px;
	margin-left: -22px;
	text-align: center;
}
.casesList .casesBox .casesBoxImg{
	display: block;
	margin: auto; 
}

.casesList .casesBox .casesBoxCon{
	display: block;
	width: 100%;
}
.casesList .casesBox:nth-child(odd) .casesBoxCon{
	padding-left: 70px;
} 
.casesList .casesBox:nth-child(even) .casesBoxCon{
	padding-right: 58px;
} 

.casesList .casesBox .casesBoxCon .casesTitle{
	display: block;
	width: 100%;
	font-size: 48px;
	line-height: 1.25;
	font-weight: 600;
	color: #263147;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 40px;
}
.casesList .casesBox .casesBoxCon .casesTitle:before{
	content: "";
	width: 50px;
	height: 6px;
	background:#179aff; 
	position: absolute;
	left: 0;
	bottom: 0;
}

.casesList .casesBox .casesBoxCon p{
	display: block;
	width: 100%;
	font-size: 18px;
	line-height: 1.6;
	font-weight: 400;
	color: #282828;
	margin-bottom: 30px;
}

.casesList .casesBox .casesBoxCon ul{
	list-style: none;
	width: 100%;
	margin-bottom: 30px;
}
.casesList .casesBox .casesBoxCon ul li{
	display: block;
	width: 100%;
	font-size: 18px;
	line-height: 1.6;
	font-weight: 400;
	color: #282828;
	position: relative;
	padding-left: 24px;
	margin-bottom: 15px;
}
.casesList .casesBox .casesBoxCon ul li:before{
	content: "";
	width: 8px;
	height: 8px;
	background: #179aff;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 12px;
}
.casesList .casesBox .casesBoxCon ul li:last-child{
	margin-bottom: 0;
}

/* Footer */
.footerMain{
	display: block;
	width: 100%;
	background: #179aff;
	background: -moz-linear-gradient(left,  #179aff 0%, #0cb2ff 100%);
	background: -webkit-linear-gradient(left,  #179aff 0%,#0cb2ff 100%);
	background: linear-gradient(to right,  #179aff 0%,#0cb2ff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#179aff', endColorstr='#0cb2ff',GradientType=1 );
	padding: 280px 0 80px;
	position: relative;
	z-index: 12;
	overflow: hidden;
}
.footerMain:before{
	content: "";
	width: 782px;
	background: url(../img/foot-pattern.png) no-repeat right top; 
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
}
.footerMain:after{
	content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -5px;
    width: 100%;
    padding-bottom: 10%;
    background: url(../img/foot-shape.svg)no-repeat center top;
    background-size: 110% auto;
    /*padding-bottom: 32%;
    background-color: #fff;
    border-radius: 60%;*/
    z-index: -1;
}

.footerMain .footLogo{
	display: block;
	width: 100%;
	margin-bottom: 60px;
}
.footerMain .footLogo img{
	max-width: 277px;
	margin: auto;
}
.footerMain p{
	display: block;
	width: 100%;
	font-size: 20px;
	line-height: 1.4;
	color: #fff;
	margin-bottom: 60px;
}
.footerMain p strong{
	font-weight: 600;
}
.footerMain p a{
	color: #fff;
	transition: all 0.4s ease-in-out;
}
.footerMain p a:hover{
	text-decoration: underline;
}